In [17]:
class Student:
    def __init__(self, name, age):
        self._name = name
        self._age = age
        self.grades = []

    @property
    def name(self):
        return self._name
    @property
    def age(self):
        return self._age
    
    @name.setter
    def name(self, name):
        self._name = name
    @age.setter
    def age(self, age):
        if age > 0:
            self._age = age
        else:
            raise ValueError("Age must be positive")
        
    # method to add grades
    def add_grade(self, grade):
        if 0 <= grade <= 100:
            self.grades.append(grade)
        else:
            raise ValueError("Grade must be between 0 and 100")
    
    # method to calculate average grade
    def calculate_average(self):
        if len(self.grades) == 0:
            return 0
        return sum(self.grades) / len(self.grades)
    
    # method to describe the student
    def describe(self):
        return f"Student Name: {self.name}, Age: {self.age}, Average Grade: {self.calculate_average():.2f}"

In [15]:
class School:
    def __init__(self):
        self.students = []

    # method to add students
    def add_student(self, student):
        self.students.append(student)

    # method to remove students
    def remove_student(self, student):
        self.students.remove(student)

    # method to find student by name
    def find_student(self, name):
        for student in self.students:
            if student.name == name:
                return student
            
    # method return average grade of all students
    def get_top_student(self):
        if len(self.students) == 0:
            return "No students in School!"
        top_student = max(self.students, key=lambda student: student.calculate_average())
        return top_student.describe()

In [14]:
import pandas as pd
import numpy as np

num_students = 100

names = [f"Student {i+1}" for i in range(num_students)]

# Tạo tuổi ngẫu nhiên từ 15 đến 18
ages = np.random.randint(15, 19, size=num_students)

# Tạo điểm số ngẫu nhiên từ 0 đến 100
maths_grades = np.random.uniform(0, 100, size=num_students)
physics_grades = np.random.uniform(0, 100, size=num_students)
chemistry_grades = np.random.uniform(0, 100, size=num_students)

# Tạo DataFrame
students_df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Maths': maths_grades,
    "Physics": physics_grades,
    "Chemistry": chemistry_grades
    
})
students_df.head()

        Name  Age      Maths    Physics  Chemistry
0  Student 1   18  32.648621  89.398657  88.732483
1  Student 2   16  51.800930  32.122293  10.789366
2  Student 3   18  14.612264  39.038669  12.516809
3  Student 4   18  95.285700  10.155409  36.688855
4  Student 5   18  82.181922  81.825027  69.570185

In [16]:
# Tạo đối tượng School
school = School()

# Chuyển dữ liệu từ DataFrame vào class Student và thêm vào School
for index, row in students_df.iterrows():
    student = Student(row['Name'], row['Age'])
    student.add_grade(row['Maths'])
    student.add_grade(row['Physics'])
    student.add_grade(row['Chemistry'])
    school.add_student(student)

# Kiểm tra học sinh có điểm trung bình cao nhất
print(school.get_top_student())

# Kiểm tra thông tin của học sinh "Student 10"
print(school.find_student("Student 10"))

Student Name: Student 9, Age: 17, Average Grade: 93.59
<__main__.Student object at 0x000001E6A0912E90>