In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv('Dataset/Churn.csv')
data.head()

,customerID,tenure,PhoneService,InternetService,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,True,29.85,29.85,No
1,5575-GNVDE,34,Yes,True,56.95,1889.50,No
2,3668-QPYBK,2,Yes,True,53.85,108.15,Yes
3,7795-CFOCW,45,No,True,42.30,1840.75,No
4,9237-HQITU,2,Yes,True,70.70,151.65,Yes

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       7043 non-null   object
 1   tenure           7043 non-null   int64
 2   PhoneService     7043 non-null   object
 3   InternetService  7043 non-null   bool
 4   MonthlyCharges   6903 non-null   float64
 5   TotalCharges     6892 non-null   float64
 6   Churn            7043 non-null   object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 337.1+ KB

Calculate basics statistics

In [12]:
df = data.describe()
min = df.loc["min",:]
max = df.loc["max",:]
mean = df.loc["mean",:]
median = df.loc["50%",:]
standard_deviation = df.loc["std",:]
Q1 = df.loc["25%",:]
Q2 = df.loc["50%",:]
Q3 = df.loc["75%",:]
dictionary = {'min':min, 'max':max, 'mean':mean, 'median':median, 'standard_deviation':standard_deviation, 'Q1':Q1, 'Q2':Q2, 'Q3':Q3}

df = pd.DataFrame(data=dictionary)
df = df.T
display(df)

                       tenure  MonthlyCharges  TotalCharges
min                  0.000000       18.250000     18.800000
max                 72.000000      118.750000   8684.800000
mean                32.371149       64.719564   2286.627307
median              29.000000       70.300000   1401.000000
standard_deviation  24.559481       30.084355   2267.279808
Q1                   9.000000       35.500000    401.762500
Q2                  29.000000       70.300000   1401.000000
Q3                  55.000000       89.850000   3805.137500

identify and handle missing values

In [13]:
data.isnull().sum()

customerID           0
tenure               0
PhoneService         0
InternetService      0
MonthlyCharges     140
TotalCharges       151
Churn                0
dtype: int64

In [16]:
data.head()

,customerID,tenure,PhoneService,InternetService,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,True,29.85,29.85,No
1,5575-GNVDE,34,Yes,True,56.95,1889.50,No
2,3668-QPYBK,2,Yes,True,53.85,108.15,Yes
3,7795-CFOCW,45,No,True,42.30,1840.75,No
4,9237-HQITU,2,Yes,True,70.70,151.65,Yes

In [20]:
data = data.fillna(data.mean(numeric_only=True))
data.isnull().sum()

customerID         0
tenure             0
PhoneService       0
InternetService    0
MonthlyCharges     0
TotalCharges       0
Churn              0
dtype: int64

In [37]:
class Customer:
    def __init__(self, customer_id, tenure, total_charges, monthly_charges, churn):
        self._customer_id = customer_id
        self.tenure = tenure
        self.total_charges = total_charges
        self.monthly_charges = monthly_charges
        self.churn = churn

    def get_customer_id(self):
        return self._customer_id
    
    def churn_prob(self):
        result = 1 - (self.monthly_charges/self.total_charges) * (self.tenure/12)
        return max(0, min(result, 1))
    
    def describe(self):
        # print("Customer ID: ", self.get_customer_id())
        print("Churn Probability: ", self.churn_prob())
        # print("Churn Status: ", self.churn)

customer = Customer(1, 10, 1000, 100, 0)
customer.describe()

TypeError: 'Series' object is not callable